[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
robotpy = { version="==2025.3.1.1", extras=["navx","rev","pathplannerlib","phoenix6"]}
numpy = "*"
photonlibpy = "*"
robotpy-apriltag = "*"

[dev-packages]
pre-commit = "*"
flake8 = "*"
pytest = "*"
black = "*"
mypy = "*"

[requires]
python_version = "3.12"